.bash_history
.bash_logout
.bashrc
.cache/
.local/
.profile
.selected_editor
.ssh/
.vim/
.viminfo
.gitconfig
breadcrumb_data/*.json
breadcrumb_data/*.txt
stop_event_data/*.json
stop_event_data/*.txt
TEST/test_data/*.json
TEST/test_data/*.txt
TEST/log_files/*.txt
log_files/*.txt
